p {
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

// 标题
.rowtit {
    padding: 1rem 0;
    text-align: center;
    line-height: 0.36rem;
    font-size: 0.36rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}
// 分页
.paging {
    padding: 0.5rem 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    .pages {
        margin: 0 auto;

        a {
            display: inline-block;
            margin: 0 0.05rem;
            width: 0.8rem;
            height: 0.8rem;
            line-height: 0.8rem;
            text-align: center;
            font-size: 0.28rem;
            color: #666;
            background: rgba(244, 244, 244, 1);
            border: 1px solid rgba(202, 202, 202, 1);
        }

        .home-page,
        .total-page {
            width: 1.1rem;
        }

        span {
            display: inline-block;
            margin: 0 0.1rem;
            width: 0.8rem;
            height: 0.8rem;
            line-height: 0.8rem;
            text-align: center;
            font-size: 0.28rem;
            color: #666;
            background: rgba(244, 244, 244, 1);
            border: 1px solid rgba(202, 202, 202, 1);
        }
    }
}
header {
    .header {
        padding: 0 0.32rem;
        padding-top: 0.55rem;
        width: 100%;
        height: 1.27rem;
        background: #fff;
        box-sizing: border-box !important;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2001;

        .header_con {
            h1 {
                float: left;
                width: 2.53rem;
                height: 0.53rem;
                margin: 0;

                img {
                    width: 2.53rem;
                    height: 0.54rem;
                }
            }

            .menu {
                padding: 0;
                width: 0.6rem;
                line-height: 0.44rem;
                font-size: 0.13rem;
                text-align: center;
                border: none;

                .img-wrap {
                    padding-top: 0.1rem;

                    img {
                        display: block;
                        width: 0.46rem;
                        height: 0.4rem;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .main-banner {
        width: 100%;
        height: 100%;
        margin-top: 1.27rem;

        .swiper {
            width: 100%;

            .swiper-container {
                width: 100%;

                .banner-img {
                    width: 100%;
                }
            }
        }
    }

    .header_container {
        padding: 0 0.32rem;
        padding-top: 0.66rem;
        width: 100%;
        height: 1.28rem;
        background: #fff;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2001;
        display: flex;

        a {
            width: .2rem;
            padding-top: .1rem;
            img {
                display: block;
                width: .2rem;
                height: .34rem;
            }
        }

        div {
            flex:1;
            text-align: center;
            margin-right: .2rem;
            font-size:.37rem;
            font-weight:bold;
            color:rgba(34,34,34,1);
        }
    }
}


nav {
    .mdui-drawer {
        margin-top: 1.27rem;
        background: #fff;
        box-shadow: none;
        max-width: 3.56rem;

        .mdui-list {
            padding: 0;

            li {
                line-height: 0.8rem;
                text-indent: 0.48rem;
                font-size: 0.36rem;

                a {
                    color: #333;
                }

                a:hover {
                    color: #333;
                }
            }

            li.active {
                background: #be5f29;
                font-size: 600;

                a {
                    color: #fff;
                }
            }
        }
    }
}

footer {
    width: 100%;
    background: #333;
    padding: 0 0.32rem;

    .fott_title {
        a {
            color: #959595;

            li {
                height: 0.86rem;
                font-size: 0.26rem;
                line-height: 0.86rem;
                border-bottom: 0.02rem solid rgba(34, 34, 34, 1);
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    width: 0.15rem;
                    height: 0.3rem;
                }
            }
        }
    }

    .fot {
        padding-top: 0.7rem;
        display: flex;
        justify-content: space-between;

        .QRcode {
            width: 2.22rem;
            height: 2.22rem;
            box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.33);
            position: relative;

            img {
                width: 100%;
                height: 100%;
                background: #fff;
            }
        }

        .QRcode::after {
            content: "";
            display: inline-block;
            width: 0.05rem;
            height: 2rem;
            background: rgba(231, 167, 45, 1);
            position: absolute;
            top: 0.11rem;
            right: -0.5rem;
        }

        .right-info {
            width: 3.62rem;

            .tel {
                line-height: 0.3rem;
                font-size: 0.3rem;
                font-weight: bold;
                color: #e7a72d;
                display: flex;
                align-items: center;

                img {
                    display: block;
                    width: 0.24rem;
                    height: 0.18rem;
                    margin-right: 0.08rem;
                }
            }

            ul {
                font-size: 0.3rem;
                color: #fff;

                li {
                    padding: 0.15rem 0 0;
                    line-height: 0.3rem;

                    .rendizi {
                        line-height: 0.4rem;
                        margin-bottom: 0.1rem;
                        font-size: 0.25rem;
                        font-weight: 300;
                        color: rgba(255, 255, 255, 1);
                    }

                    i {
                        float: left;
                    }

                    .item {
                        float: left;
                    }
                }
            }
        }
    }

    .standBy-info {
        padding-top: 0.68rem;
        padding-bottom: 1.04rem;

        p {
            font-size: 0.24rem;
            color: rgba(106, 106, 106, 1);
            line-height: 0.37rem;
            margin-bottom: 0.2rem;
        }
    }
}

.main {
    .achievement-count {
        width: 100%;
        height: 1.7rem;
        background: rgba(231, 167, 45, 1);

        ul {
            display: flex;
            height: 1.7rem;

            li {
                width: calc(100% / 3);
                height: 1.7rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    font-size: 0.4rem;
                    font-weight: bold;
                    color: rgba(255, 255, 255, 1);
                }

                span {
                    font-size: 0.24rem;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 1);
                    margin-top: 0.15rem;
                }
            }
        }
    }

    // 企业简介
    .enterprise_resume {
        width: 100%;

        .rowtit {
            padding-top: 0.94rem;
            padding-bottom: 0.52rem;
        }

        .wrap-box {
            padding: 0 0.32rem;

            .img {
                width: 100%;

                img {
                    width: 100%;
                    height: 4rem;
                }
            }

            .enterprise_text {
                line-height: 0.42rem;
                color: #333;
                font-size: 0.23rem;
                padding: 0.5rem 0 0.92rem;
                // text-overflow: ellipsis;
                // overflow: hidden;
                // display: -webkit-box;
                // -webkit-line-clamp: 8;
                // -webkit-box-orient: vertical;
            }

            a {
                margin: auto;
                width: 5.9rem;
                height: 0.78rem;
                line-height: 0.78rem;
                background: rgba(0, 163, 150, 1);
                border-radius: 0.1rem;
                text-align: center;
                color: #fff;
                font-size: 0.3rem;
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    .product-recommended {
        .rowtit {
            padding-top: 0.32rem;
            padding-bottom: 0.87rem;
        }

        .swiper-banner-box {
            .swiper-container {
                padding: 0 1rem 0;
                width: 100%;
                overflow: hidden;

                .swiper-wrapper {
                    width: 5.5rem;

                    .swiper-slide {
                        width: 5.5rem;
                        height: 6.8rem;

                        a {
                            .pic {
                                width: 5.52rem;
                                height: 5.52rem;
                                background: #f5f5f5;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                overflow: hidden;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .text {
                                height: 1.3rem;
                                background: #fff;
                                line-height: 1.3rem;
                                text-align: center;
                                font-size: 0.3rem;
                                color: #333;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }

            .btnc {
                width: 5.25rem;
                height: 0.85rem;
                background: rgba(231, 167, 45, 1);
                border-radius: 0.06rem;
                margin: 0.38rem auto 0;
                text-align: center;
                line-height: 0.85rem;
                color: #fff;
                font-size: 0.3rem;
            }
        }
    }

    .product-advantages {
        .rowtit {
            padding-top: 1.54rem;
            padding-bottom: 0.74rem;
        }

        .swiper-banner-box {
            .swiper-container {
                padding: 0 0.865rem 0;
                width: 100%;
                overflow: hidden;

                .swiper-wrapper {
                    width: 5.77rem;

                    .swiper-slide {
                        width: 5.77rem;
                        background: rgba(247, 247, 247, 1);

                        a {
                            .pic {
                                width: 5.77rem;
                                height: 3.14rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                overflow: hidden;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .text {
                                padding: 0.4rem 0.25rem 0;
                                color: #666;
                                height: 4rem;

                                p {
                                    font-size: 0.3rem;
                                    font-family: Microsoft YaHei;
                                    font-weight: bold;
                                    color: rgba(231, 167, 45, 1);
                                }

                                .line {
                                    display: block;
                                    margin: 0.2rem 0;
                                    width: 0.3rem;
                                    height: 0.05rem;
                                    background: rgba(231, 167, 45, 1);
                                }

                                div {
                                    font-size: 0.26rem;
                                }
                            }
                        }
                    }
                }
            }

            .btnc {
                width: 5.25rem;
                height: 0.85rem;
                background: rgba(231, 167, 45, 1);
                border-radius: 0.06rem;
                margin: 1.04rem auto 1.15rem;
                text-align: center;
                line-height: 0.85rem;
                color: #fff;
                font-size: 0.3rem;
            }
        }
    }

    .engineering-case {
        width: 100%;
        background: rgba(51, 51, 51, 1);
        padding: 0 0.32rem 1.5rem;

        .rowtit {
            font-size: 0.36rem;
            color: rgba(255, 255, 255, 1);
            padding: 0.66rem 0 0.6rem;
        }

        .swiper-wrap {
            width: 100%;
            background: #333;
            position: relative;

            .swiper-container {
                width: 100%;

                .swiper-wrapper {
                    width: 100%;

                    .swiper-slide {
                        width: 100%;

                        .slide-a {
                            position: relative;
                            width: 100%;
                            margin-bottom: 0.4rem !important;

                            img {
                                width: 100%;
                                height: 3.88rem;
                            }

                            .text_wrap {
                                width: 100%;
                                height: 0.6rem;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                line-height: 0.6rem;
                                color: #fff;
                                background-color: rgba(0, 0, 0, 0.4);

                                .text_left {
                                    margin-left: 0.2rem;
                                    margin-right: 0.3rem;
                                    font-weight: bold;
                                    color: rgba(255, 255, 255, 1);
                                    font-size: 0.26rem;
                                }

                                .text_right {
                                    margin-right: 0.2rem;
                                    font-size: 0.24rem;
                                }
                            }
                        }
                    }
                }
            }

            .swiper-pagination {
                width: 100%;
                background: #333;
                height: 0.4rem;
                line-height: 0.4rem;
                position: static;

                span {
                    width: 0.12rem !important;
                    height: 0.12rem !important;
                    opacity: 0.9;
                    border: 1px solid #e7a72d;
                }

                span + span {
                    margin-left: 0.1rem;
                }

                .swiper-pagination-bullet {
                    background: none;
                }

                span.swiper-pagination-bullet-active {
                    background: #e7a72d;
                }
            }
        }

        .btn-wrap {
            display: flex;
            justify-content: space-between;
            margin-top: 0.6rem;

            a {
                width: 3.18rem;
                height: 0.85rem;
                border-radius: 0.06rem;
                font-size: 0.3rem;
                text-align: center;
                line-height: 0.85rem;
            }

            a.consultNow {
                background: rgba(231, 167, 45, 1);
                color: rgba(255, 255, 255, 1);
            }

            a.lookMore {
                border: 0.02rem solid rgba(231, 167, 45, 1);
                color: rgba(231, 167, 45, 1);
            }
        }
    }

    .cooperation {
        width: 100%;
        background: rgba(247, 247, 247, 1);
        padding-bottom: 0.7rem;

        .rowtit {
            padding-top: 1.18rem;
            padding-bottom: 0.8rem;
            font-weight: bold;
            color: rgba(51, 51, 51, 1);
        }

        .logo-container {
            width: 100%;
            padding: 0 0.35rem;

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 2.08rem;
                    height: 1.17rem;
                    flex-shrink: 0;
                    margin-right: 0.28rem;
                    margin-bottom: 0.3rem;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                li:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
    }

    .company-advantage {
        .rowtit {
            padding-top: 1.18rem;
            padding-bottom: 0.93rem;
            font-weight: bold;
            color: rgba(51, 51, 51, 1);
        }

        .swiper-container {
            padding: 0 0.865rem 0;
            width: 100%;
            overflow: hidden;

            .swiper-wrapper {
                width: 5.77rem;

                .swiper-slide {
                    width: 5.77rem;
                    background: rgba(247, 247, 247, 1);

                    a {
                        .pic {
                            width: 5.77rem;
                            height: 3.14rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .text {
                            padding: 0.4rem 0.25rem 0;
                            color: #666;
                            height: 5rem;

                            p {
                                font-size: 0.3rem;
                                font-family: Microsoft YaHei;
                                font-weight: bold;
                                color: rgba(231, 167, 45, 1);
                            }

                            .line {
                                display: block;
                                margin: 0.2rem 0;
                                width: 0.3rem;
                                height: 0.05rem;
                                background: rgba(231, 167, 45, 1);
                            }

                            div {
                                font-size: 0.26rem;
                            }
                        }
                    }
                }
            }
        }

        .btnc {
            width: 5.25rem;
            height: 0.85rem;
            background: rgba(231, 167, 45, 1);
            border-radius: 0.06rem;
            margin: 1.04rem auto 1.15rem;
            text-align: center;
            line-height: 0.85rem;
            color: #fff;
            font-size: 0.3rem;
        }
    }

    .news {
        padding-bottom: 1rem;
        .rowtit {
            padding-top: 1.6rem;
            padding-bottom: 1.16rem;
        }

        .layui-tab {
            padding: 0 0.32rem;

            .layui-tab-title {
                display: flex;
                justify-content: space-between;
                padding: 0 0.3rem;
                margin: 0;

                li {
                    width: 1.54rem;
                    padding: 0;
                    flex-shrink: 0;

                    a {
                        color: #333;
                    }
                }

                li.layui-this {
                    color: #e7a72d;
                }

                li.layui-this:after {
                    border: none;
                    border-bottom: 0.05rem solid #e7a72d;
                }
            }

            .layui-tab-content {
                padding-left: 0;
                padding-right: 0;
                margin-top: 0;
                padding: 0 .32rem;

                .layui-tab-item {
                    ul {
                        padding: 0;
                        margin: 0;

                        a {
                            border-bottom: 0.02rem solid rgba(209, 209, 209, 1);

                            li {
                                padding: 0.3rem 0;
                                border-bottom: 0.01rem solid #d1d1d1;
                                display: flex;

                                .left {
                                    width: 3.3rem;
                                    height: 2.2rem;
                                    margin-right: 0.3rem;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 0.05rem;
                                    }
                                }

                                .right {
                                    width: 3.25rem;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;

                                    .ti {
                                        font-size: 0.28rem;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        font-weight: 500;
                                        color: rgba(51, 51, 51, 1);
                                        line-height: 0.4rem;
                                    }

                                    .time {
                                        color: #888;
                                        margin: 0 0 0.2rem;
                                    }

                                    .content {
                                        color: #727272;
                                        line-height: 0.4rem;
                                        font-size: 0.23rem;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 3;
                                        -webkit-box-orient: vertical;
                                    }
                                }
                            }
                        }

                        a:last-child {
                            border-bottom: none;
                        }

                        li:last-child {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
.productCenter {
    width: 100%;

    .series-box {
        width: 100%;

        .layui-tab {
            width: 100%;
            margin: 0;

            .tab-wrap {
                width: 100%;
                height: 1.2rem;
                padding-top: 0.23rem;
                overflow-x: auto;
                box-shadow: 0 0.28rem 0.2rem 0.2rem #f5f5f5;

                .layui-tab-title {
                    border: none;
                    height: 100%;

                    li {
                        margin: 0 0.3rem;
                        height: 100%;
                        padding: 0;
                        font-size: 0.28rem;
                        border-bottom: 0.04rem solid transparent;
                    }

                    .layui-this {
                        font-size: 0.28rem;
                        font-weight: bold;
                        color: rgba(231, 167, 45, 1);
                        border-bottom: 0.04rem solid rgba(231, 167, 45, 1);
                    }

                    .layui-this:after {
                        border: none;
                    }
                }
            }

            .tab-wrap::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            .layui-tab-content {
                background: #ffffff;
                padding: 0.6rem 0.3rem 0;

                ul {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        width: 3.3rem;
                        flex-shrink: 0;
                        margin-bottom: 0.18rem;
                        margin-right: 0.28rem;

                        img {
                            width: 100%;
                            height: 3.3rem;
                        }

                        p {
                            line-height: 0.86rem;
                            text-align: center;
                            font-size: 0.26rem;
                            color: rgba(51, 51, 51, 1);
                        }
                    }

                    li:nth-child(2n) {
                        margin-right: 0;
                    }
                }
            }
        }

    }

    .quality-container {
        background-color: #333;

        .rowtit {
            color: #fff;
        }

        .content {
            padding: 0 0.32rem;

            .img-wrap {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .text-content {
                padding: 1rem 0 0.9rem;

                ul {
                    li {
                        height: 0.8rem;
                        margin-bottom: 0.6rem;
                        display: flex;

                        img {
                            display: block;
                            width: 0.8rem;
                            height: 0.8rem;
                            margin-right: 0.5rem;
                        }

                        p {
                            width: 5.6rem;
                            height: 0.8rem;
                            margin: 0;
                            display: flex;
                            align-items: center;
                            font-size: 0.26rem;
                            font-weight: 400;
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }
    }

    .enterprise_resume {
        .rowtit {
            padding-top: 1.3rem;
            padding-bottom: 0.84rem;
        }

        .wrap-box {
            .img {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .tr-xuanxiang {
            .layui-tab {
                margin-top: 0;
                margin-bottom: 0;
                padding: 0 0 0.72rem;

                .layui-tab-content .layui-tab-item ul::-webkit-scrollbar {
                    display: none;
                }

                .layui-tab-title {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 0.32rem;
                    height: 0.7rem;

                    li {
                        padding: 0;
                        height: 100%;
                    }

                    li.layui-this {
                        color: #e7a72d;
                    }

                    li.layui-this:after {
                        height: 100%;
                        border-bottom: 0.06rem solid #e7a72d;
                    }
                }

                .layui-tab-content {
                    padding-left: 0;
                    padding-right: 0;
                    margin-top: 0;
                    padding-top: 0;
                    padding-bottom: 0;

                    .layui-tab-item {
                        ul {
                            padding-top: 0.3rem;
                            display: flex;
                            overflow: auto;
                            -webkit-overflow-scrolling: touch;

                            li {
                                flex-shrink: 0;
                            }

                            li:first-child {
                                margin-left: 0.3rem;
                            }
                        }
                    }

                    .vertical-picture {
                        ul {
                            li {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 2.31rem;
                                height: 3.28rem;
                                margin-right: 0.41rem;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }

                    .horizontal-graph {
                        ul {
                            li {
                                width: 3.92rem;
                                height: 2.61rem;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                margin-right: 0.26rem;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.aboutUs {
    .enterprise_resume {
        padding-bottom: 1.26rem;

        .rowtit {
            padding: 0.77rem 0 0.64rem;
        }

        .btnc {
            width: 5.25rem;
            height: 0.85rem;
            background: rgba(231, 167, 45, 1);
            border-radius: 0.06rem;
            margin: 0.38rem auto 0;
            text-align: center;
            line-height: 0.85rem;
            color: #fff;
            font-size: 0.3rem;
        }
    }

    .service-oriented {
        width: 100%;
        height: 7.48rem;
        position: relative;

        .bj {
            position: absolute;
            top: 0;
            z-index: 1;
        }

        .content {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 2;
            padding: 0.55rem 0.32rem 0;

            p:first-child {
                height: 0.37rem;
                font-size: 0.48rem;
                font-family: Microsoft YaHei;
                font-weight: bold;
                color: rgba(255, 255, 255, 1);
                line-height: 0.48rem;
                opacity: 0.07;
            }

            p:nth-child(2) {
                height: 0.29rem;
                font-size: 0.3rem;
                font-family: Microsoft YaHei;
                font-weight: bold;
                color: rgba(255, 254, 254, 1);
                line-height: 0.4rem;
                margin-top: -0.15rem;
            }

            p:nth-child(3) {
                height: 0.28rem;
                font-size: 0.3rem;
                font-family: Microsoft YaHei;
                font-weight: Bold;
                color: rgba(231, 167, 45, 1);
                line-height: 0.4rem;
                margin-top: 0.2rem;
            }
            .line {
                display: block;
                width: 0.3rem;
                height: 0.05rem;
                background: rgba(231, 167, 45, 1);
                margin-top: 0.45rem;
            }
            ul {
                margin-top: 0.45rem;
                li {
                    display: flex;
                    align-items: center;
                    margin-top: 0.4rem;
                    .xuhao {
                        width: 0.59rem;
                        height: 0.66rem;
                        border: 0.01rem solid rgba(255, 255, 255, 1);
                        text-align: center;
                        line-height: 0.66rem;
                        font-size: 0.15rem;
                        font-weight: bold;
                        color: rgba(255, 255, 255, 1);
                        margin-right: 0.3rem;
                    }
                    .text {
                        width: 5.98rem;
                        color: #fffefe;
                    }
                }
                li:last-child {
                    margin-top: 0.2rem;
                }
            }
        }
    }
    .developing {
        background: #333;
        width: 100%;
        padding-bottom: 1.1rem;
        .rowtit {
            font-size: 0.36rem;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
            padding-bottom: 1.22rem;
        }
        .containers {
            margin: 0 auto;
            .slide_wrap {
                width: 100%;
                height: 0.1.5rem;
                overflow-y: hidden;
                position: relative;
                .swiper-wrapper {
                    width: 2000%;
                    margin: 0 auto;
                    height: 1.5rem;
                    margin-left: -0.93rem;
                    .swiper-slide-active {
                        .year {
                            margin-top: -0.05rem;
                            height: 0.48rem;
                            line-height: 0.48rem;
                            font-size: 0.28rem;
                            font-weight: bold;
                            color: #e7a72d;
                        }
                        .circle {
                            i {
                                height: 0.25rem;
                                width: 0.25rem;
                                line-height: 0.3rem;
                                background: #e7a72d;
                            }
                        }
                    }
                    .swiper-slide {
                        float: left;
                        width: 1.56rem;
                        height: 100%;
                        text-align: center;
                        position: relative;
                        z-index: 12;
                        left: 0.8rem;

                        span {
                            display: block;
                            width: 100%;
                            text-align: center;
                            font-size: 0.26rem;
                            color: #fff;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }

                        div {
                            display: inline-block;
                            margin-top: 0.68rem;
                            width: 0.19rem;
                            height: 0.19rem;
                            border-radius: 50%;
                            position: relative;
                            z-index: 3;
                        }

                        i {
                            display: block;
                            width: 0.19rem;
                            height: 0.19rem;
                            background: #fff;
                            border-radius: 50%;
                        }
                    }
                    .swiper-slide:nth-child(even) span {
                        top: 1.1rem;
                    }
                }
                .swiper-wrapper::after {
                    width: 100%;
                    height: 0.04rem;
                    background: #eaeaea;
                    content: "";
                    position: absolute;
                    top: 0.76rem;
                    left: -50rem;
                    z-index: 10;
                }
            }
            .slide_wrap::-webkit-scrollbar {
                display: none;
            }
        }
        .slide-content {
            margin-top: 0.6rem;
            .swiper-wrapper {
                width: 100%;
                display: flex;
                .swiper-slide {
                    width: 6.1rem;
                    .img {
                        width: 6.1rem;
                        margin: auto;

                        img {
                            width: 100%;
                        }
                    }

                    .word {
                        width: 6.16rem;
                        line-height: 0.48rem;
                        margin: auto;
                        font-size: 0.24rem;
                        line-height: 0.46rem;
                        padding-top: 0.5rem;
                        p {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 6;
                            -webkit-box-orient: vertical;
                            font-size: 0.26rem;
                            font-weight: 400;
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }
    }
    .news {
        padding-bottom: 0.9rem;
    }
}
.contactUs {
    padding-top: 0.63rem;
    padding-bottom: 1.92rem;
    .img-wrap {
        width: 2.52rem;
        height: 2.52rem;
        margin: auto;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .tel {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.47rem;
        margin-bottom: 0.75rem;
        img {
            width: 0.37rem;
            height: 0.28rem;
        }
        p {
            font-size: 0.36rem;
            font-weight: bold;
            color: rgba(231, 167, 45, 1);
            line-height: 0.48rem;
            margin-left: 0.15rem;
        }
    }
    ul {
        text-align: center;
        li {
            font-size: 0.26rem;
            color: rgba(51, 51, 51, 1);
            margin-bottom: 0.25rem;
        }
        li:last-child {
            display: flex;
            justify-content: center;
            p {
                width: 3.5rem;
                text-align: left;
            }
        }
    }
    .btn_wrap {
        margin: 1rem 0 0;
        display: flex;
        justify-content: space-between;
        padding: 0 .32rem;

        a {
            .btna {
                width: 3.23rem;
                height: .88rem;
                line-height: .88rem;
                text-align: center;
                color: #fff;
                border-radius: .04rem;
                background:rgba(231,167,45,1);
                font-size: .36rem;
                font-weight: bold;
            }
        }

        a:last-child {
            .btnb {
                width: 3.23rem;
                height: .88rem;
                line-height: .88rem;
                text-align: center;
                border-radius: .04rem;
                border: .02rem solid #E7A72D;
                color: #E7A72D;
                font-size: .36rem;
                font-weight: bold;
            }
        }
    }
}
.productDetails {
    padding-top: 1.28rem;
    .productImg{
        width: 100%;
        img {
            width: 100%;
        }
    }
    .resume_box {
        padding: 0 .32rem 0;
        .title {
            height: 1.22rem;
            line-height: 1.22rem;
            border-bottom: 0.01rem solid rgba(234,234,234,1);
            font-size:.36rem;
            font-weight:400;
            color:rgba(51,51,51,1);
        }

        .ti {
            padding-top: .4rem;
            p {
                font-size:.3rem;
                font-weight:bold;
                color:rgba(51,51,51,1);
            }
            .xuan {
                color: #666;
                display: flex;
                line-height: .42rem;
                margin: .15rem 0 .68rem;
            }
    

        }

        

        a {
            width:6rem;
            height:.9rem;
            background:rgba(231,167,45,1);
            border-radius:0.04rem;
            margin: auto;
            .btnc {
                text-align: center;
                line-height: .90rem;
                font-size:.3rem;
                font-weight:bold;
                color:rgba(255,255,255,1);
            }
        }
    }

    .details {
        padding: 0 0 .3rem;
        padding-top: 1.18rem;
        .img-box {
            width: 100%;
            img {
                width: 100%;
            }
        }
    
        .content-detail {
            padding: .62rem .32rem 0;
            height: 3.8rem !important;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
        }
    }
    .explosion-container {
        background-color: #f4f4f4;
        padding-top: .2rem;
        padding-bottom: 1.4rem;
        .explosion{
            background: #fff;
            .rowtit{
                padding: .72rem 0;
            }
            .content {
                background: #ffffff;
                    padding: 0 0.3rem 0;
                    ul {
                        display: flex;
                        flex-wrap: wrap;
    
                        li {
                            width: 3.3rem;
                            flex-shrink: 0;
                            margin-bottom: 0.18rem;
                            margin-right: 0.28rem;
    
                            img {
                                width: 100%;
                                height: 3.3rem;
                            }
    
                            p {
                                line-height: 0.86rem;
                                text-align: center;
                                font-size: 0.26rem;
                                color: rgba(51, 51, 51, 1);
                            }
                        }
    
                        li:nth-child(2n) {
                            margin-right: 0;
                        }
                    }
            }
            .btnc {
                width:6rem;
                height:.9rem;
                background:rgba(231,167,45,1);
                border-radius:0.04rem;
                margin:.3rem auto 0;
                .bttn {
                    text-align: center;
                    line-height: .90rem;
                    font-size:.3rem;
                    font-weight:bold;
                    color:rgba(255,255,255,1);
                }
            }
        }
    }
    
}
.newsContainer {
    padding-top: .5rem;
    .news{
        padding-bottom: .5rem;
        .layui-tab{
            padding: 0 0;
            .tab-wrap{
                box-shadow: 0 0.28rem 0.2rem 0.2rem #f5f5f5;
                padding: 0 .32rem;
                .layui-tab-title{
                    padding: 0 1.14rem 0;
                    
                }
            }
            
        }
    }
    .explosion-container{
        background-color: #fff;
        padding-top: 0;
    }
}

.newsDetails {
    .first-title {
        padding: .32rem 0 0;
        margin: 1.28rem .32rem 0;
        border-bottom: .01rem solid #eaeaea;
        color: #333;
        line-height: .48rem;
        .text {
            font-size: .32rem;
            font-weight: bold;
        }

        .time {
            line-height: .48rem;
            text-align: right;
            font-weight: 500;
            color: #666;
        }
    }

    .newcontent {
        color: #666;
        font-size: .28rem;
        padding: .32rem .32rem;
        line-height: .48rem;
    }
}